<html lang="en" class="bg-black">
  <head>
    <meta charset="utf-8">
    <title>Bugs</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style type="text/css">
      /* Filter button style */
      .float{
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #0C9;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
      }
      .float:hover {
        background-color: #0B8;
      }

      /* Modal styles */
      .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <router-view></router-view>
    </div>

    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
    <script src="https://unpkg.com/vue-toasted/dist/vue-toasted.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/moment/min/moment.min.js"></script>

    <script type="text/x-template" id="column-template">
      <div class="w-full lg:w-1/4 px-2">
        <h2 class="pt-2 pb-4 font-sans font-light text-xl text-grey-light text-center">
          {{ title }}
        </h2>

        <div class="bg-grey-dark">
          <div class="p-2 -mb-2">
            <div v-for="bug in bugs" class="max-w-sm rounded overflow-hidden bg-grey-lightest mb-2">
              <div class="px-6 pt-4">
                <a :href="'https://bugzilla.redhat.com/' + bug.id" target="_blank" class="no-underline text-black hover:text-grey-dark">
                  <h3 class="font-bold text-lg">{{ bug.summary }}</h3>
                </a>
              </div>
              <div class="px-6 py-4">
                <p class="mt-1 text-grey-darker text-base">
                  <a href="#" class="no-underline font-semibold text-grey-darkest hover:text-grey-darker text-base">
                    {{ bug.status }}
                  </a>
                </p>
                <p class="mt-1 text-grey-darker text-base">
                  Assigned to <a href="#" class="no-underline text-grey-darkest hover:text-grey-darker">{{ bug.assigned_to }}</a>
                </p>
                <p class="mt-1 text-grey-darker text-base">
                  Last updated {{ bug.last_change_time | moment }}
                </p>
              </div>
              <div class="px-6 pb-4">
                <template v-for="release in bug.target_release">
                  <a class="inline-block bg-blue-dark hover:bg-blue rounded px-2 py-1 mb-1 text-sm font-semibold text-grey-lightest no-underline" href="#">{{ release }}</a>&#32;
                </template>
                <template v-for="keyword in bug.keywords">
                  <a class="inline-block bg-grey-light hover:bg-grey rounded px-2 py-1 mb-1 text-sm font-semibold text-grey-darkest no-underline" href="#">{{ keyword }}</a>&#32;
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="board-template">
      <div>
        <div class="px-2 pb-5">
          <div id="board" class="flex flex-wrap -mx-2">
            <column title="Backlog" :bugs="bugs.backlog"></column>
            <column title="Ready" :bugs="bugs.ready"></column>
            <column title="In Progress" :bugs="bugs.inprogress"></column>
            <column title="Done" :bugs="bugs.done"></column>
          </div>
        </div>

        <button id="show-search-modal" class="float" @click="showSearchModal = true">
          <i class="fas fa-filter"></i>
        </button>

        <search-modal v-if="showSearchModal" v-bind:username="username" v-bind:release="release" @close="search"></search-modal>
        <vue-snotify></vue-snotify>
      </div>
    </script>

    <script type="text/x-template" id="search-modal-template">
      <transition name="modal">
        <div class="modal-mask flex flex-col items-center justify-center font-sans">
          <div class="h-screen w-full absolute flex items-center justify-center bg-modal">
            <div class="bg-white rounded shadow p-8 m-4 max-w-md max-h-full text-center overflow-hidden">
              <div class="mb-4">
                <h1>Search</h1>
              </div>
              <form class="w-full" @submit.prevent="">
                <div class="md:flex md:items-center mb-6">
                  <div class="md:w-1/3">
                    <label class="block text-grey font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-userame">
                      Username
                    </label>
                  </div>
                  <div class="md:w-2/3">
                    <input class="bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-purple" id="inline-username" type="text" :value="username" v-model="username">
                  </div>
                </div>

                <div class="md:flex md:items-center mb-6">
                  <div class="md:w-1/3">
                    <label class="block text-grey font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-release">
                      Release
                    </label>
                  </div>
                  <div class="md:w-2/3">
                    <div class="relative">
                      <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-state" v-model="release">
                        <option v-for="rel in releases" :selected="release === rel">{{ rel }}</option>
                      </select>
                      <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="flex justify-center">
                <button class="flex-no-shrink text-white py-2 px-4 rounded bg-teal hover:bg-teal-dark" @click="$emit('close', username, release)">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <script>
        Vue.use(Toasted)

        Vue.component('search-modal', {
          template: '#search-modal-template',
          props: {
            username: String,
            release: String,
          },
          data: function () {
            return {
              username: this.username,
              release: this.release,
              releases: [
                '',
                '---',
                '6.0 (Juno)',
                '7.0 (Kilo)',
                '8.0 (Liberty)',
                '9.0 (Mitaka)',
                '10.0 (Newton)',
                '11.0 (Ocata)',
                '12.0 (Pike)',
                '13.0 (Queens)',
                '14.0 (Rocky)',
                '15.0 (Stein)',
                '16.0 (T)',
                '17.0 (U)',
                'Installer',
              ],
            }
          }
        });

        Vue.component('column', {
          template: '#column-template',
          props: {
            title: String,
            bugs: Array
          },
          filters: {
            moment: function (date) {
              return moment(date).fromNow();
            }
          }
        });

        const Board = {
          template: '#board-template',
          props: {
            username: String,
            release: String,
          },
          data: function () {
            return {
              bugs: {
                'backlog': [],
                'ready': [],
                'inprogress': [],
                'done': [],
              },
              showSearchModal: false,
            }
          },
          filters: {
            moment: function (date) {
              return moment(date).fromNow();
            }
          },
          methods: {
            search: function (username, release) {
              /* We require a username. If that wasn't supplied, show the search modal again */
              if (username === null) {
                this.showSearchModal = true;
                return;
              }

              /* Hide the search modal and update the URL */
              this.showSearchModal = false;

              query = { username: username }
              if (release !== null)
                query.release = release

              this.$router.push({ name: 'index', query: query })

              console.log('Searching for bugs from user ' + username);

              /* Wipe anything that might already be there */
              this.bugs = {
                'backlog': [],
                'ready': [],
                'inprogress': [],
                'done': [],
              }

              let uri = 'https://bugzilla.redhat.com/rest/bug?product=Red%20Hat%20OpenStack&component=openstack-nova&include_fields=id,summary,status,assigned_to,last_change_time,target_release,keywords&status=NEW&status=ASSIGNED&status=ON_DEV&status=POST&status=MODIFIED&status=ON_QA&status=VERIFIED'

              uri += '&assigned_to=' + encodeURIComponent(username + '@redhat.com');
              if (release)
                uri += '&target_release=' + encodeURIComponent(release);

              let searchToast = this.$toasted.show('Searching for bugs...', {
                position: 'bottom-left',
                iconPack: 'fontawesome',
                theme: 'outline',
                icon: 'spinner',
                action : {
                  text : 'Dismiss',
                  onClick : (e, toastObject) => {
                    toastObject.goAway(0);
                  }
                },
              });

              axios
                .get(uri)
                .then(response => {
                  if (response.data.bugs.length === 0) {
                    searchToast.goAway();

                    this.$toasted.error('No results found!', {
                      position: 'bottom-left',
                      iconPack: 'fontawesome',
                      theme: 'outline',
                      icon: 'exclamation-circle',
                      duration: 2000,
                      action : {
                        text : 'Dismiss',
                        onClick : (e, toastObject) => {
                          toastObject.goAway(0);
                        }
                      },
                    });
                    return;
                  }

                  let bugCount = 0;

                  /* Split bugs into buckets */
                  for (var i = 0; i < response.data.bugs.length; i++) {
                    var bug = response.data.bugs[i];

                    /* Skip RFEs. We have to do this client side since there doesn't appear to be a way to do this via the API. */
                    if (bug.keywords.includes("FutureFeature"))
                      continue;

                    bugCount++;

                    switch (bug.status) {
                      case 'NEW':
                        this.bugs['backlog'].push(bug);
                        break;
                      case 'ASSIGNED':
                        this.bugs['ready'].push(bug);
                        break;
                      case 'ON_DEV':
                      case 'POST':
                        this.bugs['inprogress'].push(bug);
                        break;
                      case 'MODIFIED':
                      case 'ON_QA':
                      case 'VERIFIED':
                      case 'RELEASE_PENDING':
                        this.bugs['done'].push(bug);
                        break;
                      default:  // We don't need to handle CLOSED since those aren't retrieved
                        console.error('Found unrecognised status: ' + bug.status);
                    }
                  };

                  /* Sort bugs newest first */
                  for (var key in this.bugs) {
                    this.bugs[key].sort(function(a, b) {
                      return moment(a.last_change_time).isBefore(b.last_change_time);
                    })
                  }

                  searchToast.goAway();

                  this.$toasted.show('Found ' + String(bugCount) + ' bugs', {
                    position: 'bottom-left',
                    iconPack: 'fontawesome',
                    theme: 'outline',
                    icon: 'check-circle',
                    duration: 1500,
                    action : {
                      text : 'Dismiss',
                      onClick : (e, toastObject) => {
                        toastObject.goAway(0);
                      }
                    },
                  });
                })
                .catch(function (error) {
                  searchToast.goAway();

                  this.$toasted.error('Failed to retrieve results!', {
                    position: 'bottom-left',
                    iconPack: 'fontawesome',
                    theme: 'outline',
                    icon: 'exclamation-circle',
                    duration: 1500,
                    action : {
                      text : 'Dismiss',
                      onClick : (e, toastObject) => {
                        toastObject.goAway(0);
                      }
                    },
                  });
                })
            }
          },
          mounted () {
            if (this.$props.username == null) {
              this.showSearchModal = true;
              return;
            }

            this.search(this.username, this.release);
          }
        };

        var router = new VueRouter({
          mode: 'history',
          routes: [
            {
              name: 'index',
              path: '/~sfinucan/bug-dashboard/',
              component: Board,
              props: (route) => ({
                username: route.query.username,
                release: route.query.release
              }),
              pathToRegexpOptions: { strict: true },
            },
            { path: '*', redirect: '/~sfinucan/bug-dashboard/' },
          ],
        });

        new Vue({
          router,
          el: '#app'
        });
    </script>
  </body>
</html>
